{% extends 'base.html.twig' %}

{% block body %}

    <h1>Jsonb Playground: {{ max }} People</h1>

    <p>
        A simple repo showing jsonb and/or, searching a database of {{ max }} persons by the (random) languages they speak.
    </p>

    <code>
        {{ sql }}
    </code>

    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <h3>Search for people who speak any of these languages: {{ languages|join(',') }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Speaks</th>
            <th>->></th>
{#            <th>Visited</th>#}
        </tr>
        </thead>
        <tbody>
        {% for person in persons|slice(0, 30) %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.info.languages|map(l => l|language_name)|join(',') }}</td>
                <td>{{ person.languagesText|default('~') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
